<div class="listing mn-page" id="listing-page">
    <div class="mn-toolbar">
        <img src="shared/svg/left-arrow.svg" height="42" />
        <span>{{title}}</span>
        <div class="mn-search float-right .d-none">
            <input type="text" />
            <button><img src="shared/svg/search.svg" height="20" /></button>
        </div>
    </div>
    <div id="listingContainer" class="mn-page-content"></div>
    <div class="text-center" id="loading-listing">
        <div class="spinner-border text-secondary"></div>
    </div>
    <div id="autoLoader">&nbsp;</div>
</div>